
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Abitech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <strong>Selamat datang, {{email}}</strong>
    <ion-button color="danger" (click)="logout()" >Logout</ion-button>

  </div>
</ion-content>